---

---

<footer class="text-footer text-center text-white">
    Challenge by <a class="text-blue-dark-moderate" href="https://www.frontendmentor.io?ref=challenge"
        target="_blank">Frontend Mentor</a>. Coded by <a class="text-blue-dark-moderate" href="#">Frankii Tang</a>.
</footer>
